<app-menu-title></app-menu-title>
<div class="container__articles">
    <div class="articles__main">
        <app-big-card 
            id="1"
            photoCover=""
            cardTitle=""
            cardDescription=""
        />
    </div>
    <div class="articles__others">
        <app-small-card 
            id="2"
            photoCover=""
            cardTitle=""
        />
        <app-small-card 
            id="3"
            photoCover=""
            cardTitle=""
        />
        <app-small-card 
            id="4"
            photoCover=""
            cardTitle=""
        />
    </div>
</div>