<div class="container__menu-bar">
    <ul>
        <li>
            <span class="iconify" data-icon="raphael:linkedin"></span>
            <a href="#" target="_blank">LinkedIn</a>
        </li>
        <li>
           
        </li>
        <li>
            <span class="iconify" data-icon="jam:github"></span>
            <a href="#" target="_blank">GitHub</a>
        </li>
        <li>
            
        </li>
        <li>
            <span class="iconify" data-icon="formkit:youtube"></span>
            <a href="#" target="_blank">YouTube</a>
        </li>
        <li>
            
        </li>
    </ul>
</div>
